body.single-post{
  article{
    header{
      padding-bottom: 50px;
      margin-bottom: 35px;

      text-align: center;

      h1{
        margin-bottom: 15px;
      }
    }

    section{
      max-width: 700px;
      margin: 0 auto;
      padding: 15px 0;
    }

    section.module{
      width: 150%;
      margin-left: -25%;
    }
  }
}

body.single-post article header{
  .post-categories{
    display: inline-block;

    a{
      border: none;
    }

    span{
      color: $grey-text;
    }

    span:last-child{
      display: none;
    }
  }

  time{
    padding-left: 15px;

    span{
      padding-right: 15px;
    }
  }

  h1{
    padding-top: 15px;
  }

  h1,
  h2{
    clear: both;
  }
}

@media #{$medium-down}{
  body.single-post{
    article{
      section.module{
        width: 100%;
        margin-left: 0;
      }
    }
  }
}