body.single-post{
  article{
    max-width: 900px;
    margin: 0 auto;

    header{
      margin-bottom: 50px;

      h1{
        margin-bottom: 15px;
      }
    }

    section{
      padding: 25px 0;
    }

    section.module{
      width: 150%;
      margin-left: -25%;
    }
  }
}

body.single-post article header{
  .post-categories{
    float: left;

    a{
      border: none;
    }

    span{
      color: $grey-text;
    }

    span:last-child{
      display: none;
    }
  }

  time{
    float: right;
  }

  h1{
    padding-top: 15px;
  }

  h1,
  h2{
    clear: both;
  }
}

@media #{$medium-down}{
  body.single-post{
    article{
      section.module{
        width: 100%;
        margin-left: 0;
      }
    }
  }
}