body.single-post article header{
  .post-categories{
    display: inline-block;

    a{
      border: none;
    }

    span{
      color: $grey-text;
    }

    span:last-child{
      display: none;
    }
  }

  time{
    padding-left: 15px;

    span{
      padding-right: 15px;
    }
  }

  h1{
    padding-top: 15px;
  }

  h1,
  h2{
    clear: both;
  }
}

@media #{$medium-down}{
  body.single-post{
    article{
      section.module{
        width: 100%;
        margin-left: 0;
      }
    }
  }
}