section.text{
  .section-header{
    margin-bottom: 0;
  }

  .section-body{
    max-width: 700px;
    margin: auto;

    h3,
    p,
    a{
      margin-bottom: 1em;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}