@mixin gotham{
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}

@mixin acumin{
  font-family: "acumin-pro-extra-condensed",sans-serif;
  font-style: normal;
  font-weight: 400;
}