%base{
  @include gotham;

  font-size: 16px;
  font-weight: normal;
}

h1{
  @extend %base;
  @include acumin;

  font-size: 75px;
  line-height: 1.2;
}

article h1{
  font-size: 2.5em;
}

h2{
  @extend %base;
  @include acumin;

  font-size: 40px;
}

p{
  @extend %base;

  font-size: 14px;
  line-height: 1.6;
}

article p,
section.text p{
  margin-bottom: 1em;

  font-size: 16px;
  line-height: 1.6;
}

span,
time,
button{
  @extend %base;

  font-size: 14px;
}